<div class="container">
  <div class="owl-carousel owl-theme wrapper">
    <div class="item">
    <div class="card" onclick="javascript: this.classList.toggle('flipped')">
      <div class="front">1</div>
      <div class="back">2</div>
    </div>
    </div>
     <div class="item">
    <div class="card" onclick="javascript: this.classList.toggle('flipped')">
      <div class="front">1</div>
      <div class="back">2</div>
    </div>
    </div>
     <div class="item">
    <div class="card" onclick="javascript: this.classList.toggle('flipped')">
      <div class="front">1</div>
      <div class="back">2</div>
    </div>
    </div>
     <div class="item">
    <div class="card" onclick="javascript: this.classList.toggle('flipped')">
      <div class="front">1</div>
      <div class="back">2</div>
    </div>
    </div>
     <div class="item">
    <div class="card" onclick="javascript: this.classList.toggle('flipped')">
      <div class="front">1</div>
      <div class="back">2</div>
    </div>
    </div>
     <div class="item">
    <div class="card" onclick="javascript: this.classList.toggle('flipped')">
      <div class="front">1</div>
      <div class="back">2</div>
    </div>
    </div>
  </div>
</div>