<div class="owl-carousel">
    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>
    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>
    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>
    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>
    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>

    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>
    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>
    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>
    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>
    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>
    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>
    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>
    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>
    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>
    <div class="item" onclick="javascript: this.classList.toggle('flipped')">
        <div class="front">1</div>
        <div class="back">2</div>
    </div>

</div>