 <md-sidenav-layout [class.m2app-dark]="isDarkTheme">
  <md-sidenav #sidenav mode="side" class="app-sidenav">
   <ul class="list-group">
  <li class="list-group-item"><a routerLink="map">Map</a></li>
  <li class="list-group-item"><a routerLink="nocontent">No content</a></li>
  <li class="list-group-item"><a routerLink="map">Map</a></li>
  
</ul>
  </md-sidenav>
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    FoodMap

    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>